// Define variables for your color scheme

// For primary color
$main: #663399;
$main90: #7547a3;
$main80: #855cad;
$main70:#9470b8;
$main60: #a385c2;
$main50: #b399cc;


//warning
$warning: #DD1155;

// background
$white: #EBEBEB;

//for Text

$black: #0B0A07;
$neutral90: #232320;
$neutral80: #3c3b39;
$neutral60: #545451;
$neutral50: #6d6c6a;


// Bootstrap

$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-gray: #C0C0C0;
