// import Google Material Symbols
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

// for boxes: 'Inventory 2'
// for collections: 'widgets'
// for qr code: 'qr_code_2'
// for scanning qr codes: 'qr_code_scanner'

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 50;
  line-height: initial;
  color: #232320;
  font-size: 1.5rem;
}

.category-icon {
  width: 50px;
  margin: 0;
  padding: 3px 5px 0 0;
  height: 30px;
  background-color: #b399cc;
  border-radius: 3px;
  color: #3c3b39;
  text-align: end;
  position: relative;
  left: -22px;
  top: -3px;
  line-height: 1;
}

.card-icon {
  color: #545451;
}

.add-icon {
  color: #C0C0C0;
  font-variation-settings: 'FILL' 0, 'wght' 900, 'GRAD' 0, 'opsz' 50;
}

.navigation-icon {
  font-size: 1.75rem;
}
