<div class="container">
    <%= simple_form_for [ @box] do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.submit "create" %>
      <%# button style needs to be defined! %>
    <% end%>
  </div>
