<div class="container">
<h2>Add a box</h2>
  <%= simple_form_for [ @collection, @box] do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.submit "create" %>
    <%# button style needs to be defined! %>
  <% end%>
</div>
