<div class="d-flex">
  <%= link_to collection_path(@box.collection) do %>
      <i class="fas fa-arrow-left m-1 p-1"></i>
    <% end %>
  <h1><%= @box.name %></h1>
</div>
<p><%= @box.description %></p>
