<h1><%= @box.name %></h1>

<% @box.items.each do |item| %>


      <div class="box">
        <h3><%= item.name %></h3>
        <%= link_to "delete", item_path(item), method: :delete, data: { confirm: "Are you sure?" }%>
        <%#= item.destroy %>
      </div>

        <%= link_to "add an Item", new_box_item_path(@box) %>





<% end %>
