<div class="footer-navigation">
  <div class="button-container">
    <i class="fas fa-qrcode"></i>
    <div class="button-round"></div>
    <i class="fas fa-search position-absolute z-index-10"></i>
    <i class="fas fa-plus"></i>
  </div>
</div>
