<%# <script>
    document
      .getElementById("cameraFileInput")
      .addEventListener("change", function () {
    document
      .getElementById("pictureFromCamera")
      .setAttribute("src", window.URL.createObjectURL(this.files[0]));
  });
</script> %>


<div class="footer-navigation">
  <div class="button-container">


<%# non scaning camera activation %>
<%# <label class="cameraButton"><i class="fas fa-qrcode"></i>
    <input type="File" accept="image/*;capture=camera" capture/>
</label> %>

<%= link_to basic_qr_code_reader_path do%>
  <i class="fas fa-qrcode"></i>
    <% end %>

<%= link_to basic_qr_code_reader_path do%>
  <i class="fas fa-qrcode"></i>
    <% end %>

    <%= link_to search_path do %>
      <div class="button-round fas fa-search"></div>
      <%# <i class="fas fa-search position-absolute z-index-10"></i> %>
    <% end %>
    <%= link_to new_collection_path do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>
</div>
