<div class="first-image">
<br>
<br>
  <h2 class="subline">sorry BOXTAG is only avaible on a smartphone</h2>
  <br>
  <h2 class="subline">install our APP on your mobile HOMESCREEN via your BROWSER</p>
</div>
