<div class="first-image">
<br>
<br>
  <h1 class="subline">BOXTAG is only avaible on a smartphone 😀</h1>
  <br>
  <h2 class="subline">Please scan the following QR code with your mobile device:</h2>
  <br>
  <br>
  <br>
  <br>
  <img width="200" class="mx-auto d-block mt-10" src="https://ik.imagekit.io/euyxi4iua/boxtag_R9XyVijMA.png?ik-sdk-version=javascript-1.4.3&updatedAt=1662658947279" alt="boxtag qr code">
</div>
