<h1>qrcode scanning.....</h1>

<div>
  <video id="video" width="400px" height="250px"></video>
</div>

<label>link:</label><br>

<a id="result" href="result" style="color:red;font-weight:600;"></a>



<%= javascript_pack_tag("basic-qr-code-reader") %>
