<h1>scan QR-Code</h1>

<div>
  <video id="video" width="200" height="300"></video>
</div>

<label>scanned link:</label>

<a id="result" href="result">LINK</a>



<%= javascript_pack_tag("basic-qr-code-reader") %>
