<h1>QR-Code scanning...</h1>

<div>
  <video id="video" width="300" height="400"></video>
</div>

<label>scanned link:</label><br>

<a id="result" href="result" style="color:red;font-weight:600;"></a>



<%= javascript_pack_tag("basic-qr-code-reader") %>
