<%# <h1 style="font-weight:600;">QRCODE SCAN</h1> %>
<div>
  <video id="video" width="100%" height="100%" style="object-fit: contain;"></video>
</div>

<%# <label><b>link:</b></label> %>

<a id="result" href="result" style="color:red;font-weight:600;text-decoration: underline red;"></a>



<%= javascript_pack_tag("basic-qr-code-reader") %>
<%= audio_tag "beep.mp3", id: "beep-audio" %>
