<h1>scan QR-Code</h1>

<div>
  <video id="video" width="200" height="300"></video>
</div>

<label>scanned link:</label>
<p id="result">  </p>
<a href="result"></a>

<a href="#result">Test</a>

<%= javascript_pack_tag("basic-qr-code-reader") %>
