<h1>scan your QR-Code</h1>

<div>
  <video id="video" width="600" height="400"></video>
</div>

<label>hit the link:</label>
<a><code id="result"></code></a>

<%= javascript_pack_tag("basic-qr-code-reader") %>
