<div class="container ">
  <h1>my Dashboard</h1>
  <div class="bg-light m-4 p-3 rounded-3">
    <h4>Your collections:</h4>
      <% @user_collections.each do |user_collection| %>
        <div class="collections">
          <h3 class="collection-name"><%= Collection.where(id: user_collection.collection_id).first.name %></h3>
          <div class="box-info">
            <p class="boxcount"><%= Collection.where(id: user_collection.collection_id).first.boxes.count %> Boxes inside</p>
            <i class="fas fa-user"></i>
          </div>
        </div>
      <% end %>
  </div>
</div>
