<div class="container">
  <h1>My Dashboard</h1>

  <%= button_tag :class => "button button-main" do %>
    <%= t('done')%>
  <% end %>

  <%= button_tag :class => "button button-secondary" do %>
    <%= t('store it')%>
  <% end %>

  <div class="box">
    <h2 class="title">shoe box</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="box-info">
      <p class="boxcount">19 items inside</p>
      <i class="fas fa-user"></i>
    </div>
  </div>

  <div class="collections">
    <H3 class="collection-name">my storage room</H3>
      <div class="box-info">
        <p class="boxcount">19 Boxes inside</p>
        <i class="fas fa-user"></i>
      </div>
  </div>

</div>
