<div class="container">
  <%# what is the path for thee form_tag??? %>
  <%= form_tag search_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find collections, boxes or items"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>
