<div class="container mt-4">
    <div id="qrcode"><%= raw @qrcode.as_html %></div>
      <div class="text-center">


            <div class="boxtitle">
                <%= @box.name %>
            </div>

        <div class="boxurl">
            <%= @heroku %>
            <%= @box.name %>
        </div>
      </div>
    <div class="text-center">
      <br>
      <button class="button button-print " id="print">print me</button>
    </div>
</div>

<script>
const printBtn = document.getElementById("print");

const print = () => {
  const printFrame = document.createElement("iframe");
  printFrame.style.display = "none";
  // printFrame.src = "/boxes/1/qrcode";
  window.print()

  document.body.appendChild(printFrame);

  printFrame.contentWindow.focus();
}

printBtn.addEventListener("click", function(){
  print();
})


</script>

<style>
 @media print{
.navbar, .footer-navigation, .button, .button-print *{
  display: none;
  color:white;

}

 @page {
    margin-top: 0;
    margin-left: 0;
    padding: auto;

 }

.boxtitle{
  display:block;
}

   html, body, #qrcode {
        background: #FFF;
        size: auto;  margin: 0mm;
        display: table;
        table-layout: fixed;
    }

}

</style>
