<div class="container mt-4">
    <div id="qrcode"><%= raw @qrcode.as_html %></div>
      <div class="d-flex justify-content-center ">
        <%= @heroku %>
          <%= @box.name %>
      </div>
    <div class="text-center">
    <br>
    <button class="button button-main" id="print">print me</button>
    </div>
</div>

<script>
const printBtn = document.getElementById("print");

const print = () => {
  const printFrame = document.createElement("iframe");
  printFrame.style.display = "none";
  // printFrame.src = "/boxes/1/qrcode";
  window.print()

  document.body.appendChild(printFrame);

  printFrame.contentWindow.focus();
}

printBtn.addEventListener("click", function(){
  print();
})


</script>

<style>
 @media print{
.navbar, .footer-navigation, .button, .button-print *{
  display: none;
  color:white;

}

 @page {
    margin-top: 0;
    margin-left: 0;
    padding: auto;
 }

   html, body, #qrcode {
        background: #FFF;
        size: auto;  margin: 0mm;
        display: table;
        table-layout: fixed;
    }

}

</style>
