 <div class="container">
    <%= simple_form_for [ @collection, @user_collection ] do |f| %>
      <%= f.input :email %>
      <%= f.submit "Share", class:"button button-main" %>
      <%= link_to "Cancel", collection_path(@collection), class: "button" %>
    <% end%>
  </div>
