<div class="container">
<h2>Add an item</h2>
  <%= simple_form_for [@box, @item] do |f| %>
    <%= f.input :name %>
    <%= f.submit "Create", class: "button-main button" %>
    <%= link_to "Cancel", box_path(@box), class: "button" %>
  <% end %>
</div>
