a{
    color: $white;
  }

  a:active, a:visited{
    color: $white;
  }


.button {
  border: 1px solid $main;
  border-radius: $border-radius * 4;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: $main;
  font-weight: 500;
  box-sizing: border-box;
}

.button a {
  text-decoration: none;
  color: $main !important;
}

.button-round {
  background-color: $main;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-search{
// maybe a bit dirty? !important
  color: $white !important;
}

.button-round:hover, .button-round:active{
  border: 1px solid $main;
  color: $white;
  background-color: $main50;
}

.button-main {
  color: $white;
  background-color: $main;
}

.button-main:hover, .button-main:active {
  color: $white;
  background-color: $main50;
}

.button-secondary {
  color: $neutral90;
  background-color: $white;
  border-color: $neutral90;
}

.button-secondary:hover, .button-secondary:active {
  color: $neutral90;
  background-color: $main50;
  border-color: $main;
}

.button-third{
margin-top: $spacer;
color: $neutral50;
border: none;
}

.button-third:hover, .button-third:active{
color: $warning;
border:solid;
}

.button-print{
  color: $main !important;
}


.button-print:hover, .button-print:active{
  color: $white !important;
  }

.button-gray {
  color: $neutral50;
}

.search-button {
  border-radius: 0 $border-radius $border-radius 0 ;
}

.button-dashboard{
  color: $white;
}

.button-dashboard:active, .button-dashboard:visited{
  color: $white;
}
