
.button-round {
  background-color: $main;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-search{
// maybe a bit dirty? !important
  color: $white !important;
}

.button-round:hover, .button-round:active{
  border: 2px solid $main;
  color: $main;
}

.button {
  border: 2px solid $main;
  border-radius: 8px;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: $main;
  font-weight: 500;
  box-sizing: border-box;
}

button:hover, button:active{
  background-color: $main;
  color: $white;
}


.button-main {
  color: $white;
  background-color: $main;
}

.button-main:hover, .button-main:active{
  color: $main;
  background-color: $white;
}


.button-third{
margin-top: 1em;
color: $neutral50;
border: none;
}

.button-third:hover, .button-third:active{
color: $warning;
border:solid;
}

.button-print{
  color: $main !important;
}


.button-print:hover, .button-print:active{
  color: $white !important;
  }
