h1 {
  font-size: 1.8rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

h4 {
  font-size: 1.1rem;

}

p {
  font-size: 0.8rem;
  margin-bottom: 0.1rem;
}

.secondary-text {
  color: $neutral60;
  font-weight: 600;
}

.secondary-text-light {
  font-weight: 600;
}

strong {
  font-weight: 600;
}
