.footer-navigation {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $white;
  color: $neutral80;
  // background-color: $neutral50;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  margin: 10px 0;
}



/* This is the part that actually hides the 'Choose file' text box for camera inputs */
label.cameraButton input[accept*="camera"] {
  display: none;
}
