.footer-navigation {
  position: sticky;
  left: 0;
  bottom: 0px;
  width: 100%;
  background-color: lightgray;
  color: $neutral80;
  // background-color: $neutral50;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 10px 0;
}

.footer-navigation .fas {
  color: $neutral80;
}

/* This is the part that actually hides the 'Choose file' text box for camera inputs */
label.cameraButton input[accept*="camera"] {
  display: none;
}
