.list {
  padding: $spacer;
}

.list a {
  text-decoration: none;
  color: $black;
}

.list-header {
  padding-bottom: 1px;
  color: $white;
  background-color: $main80;
}

.list-title {
  display: flex;
  justify-content: space-between;
  padding: $spacer 0 $spacer*0.5 0;
}

.list-item {
  margin-top: $spacer;
  padding: $spacer*0.75 $spacer;
  color: $black;
  background-color: $main50;
  height: auto;
  width: auto;
  border-radius: $border-radius * 4;
  // border: 2px solid $neutral50;
  -webkit-box-shadow: 2px 3px 4px 0px rgba(84,84,81,0.28);
  box-shadow: 2px 3px 4px 0px rgba(84,84,81,0.28);

  p {
    margin-bottom: 0;
  }
}

.add-new {
  border: 3px dashed;
  border-color: rgba(84,84,81,0.28);
  text-align: center;
  background-color: $white;
  color: rgba(84,84,81,0.28);
  box-shadow: none;
}

.list-item-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-name {
  margin: 0;
}

.list-container {
  position: relative;
}

.icons-container {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  line-height: 0;
}
