.results-container {
  margin-top: 10px;
}

.result-card {
  background-color: white;
  border: 1px solid $neutral60;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.result-card :where(p, h3) {
  margin-bottom: 3px;
}

.result-chapter {
  margin-top: 15px;
}
